.header {
    height: 80px;
    background-color: #0696d3;
}

.title{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
}
.monitor-frame {
    width: 900px;
    /*height: 550px;*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d9d9d9;
}
.monitor-file {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    color: #707070;
    border-bottom: 1px solid #d9d9d9;
}
.dir-img {
    float: left;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}